html, body, [class*="css"]  {

  font-family: 'Helvetica'  !important;
  /* background-color: #6b9080;
  color:#f6fff8; */
  }

.css-u8hs99.exg6vvm14 {
  display: none
}

.css-1dvwncr.ede6r8z0 {
  /* background-color: #6b9080;
  color:#f6fff8; */
}

.css-1q8dd3e:hover {
  /* color:#f6fff8;
  border-color: #f6fff8; */
}
